<html>
<head>
	<title>Kay Rossio Coding Sample - Exercise 5</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  <script>
		  $(function() {
		    $( "#datepicker" ).datepicker();
		  });
	  </script>
</head>
<body>
	<h1>Request Ice Cream to Be Delivered</h1>
	<form action="/message" method="post">
		<p>Who are you?</p> <input type="text" name="name" placeholder="Your name">
		<p>When do you want icecream?</p> <input type="text" id="datepicker" name="message" placeholder="Choose a date"></input>
		<input id="post" type="submit" value="Submit">
	</form>
	<% if(typeof(errors) != 'undefined' ) { %>
	   <% for (var x in errors) { %>
	   <div id="errors">
			<%= errors[x].message %>
			<%= errors[x].comment %>
		</div>
	   <% } %>
 	<% } else { %>
	<h2>Ice Cream Requests:</h2>
 		<div>
			<% for(x in messages) { %>
				<div id="requests">
					<h4><%= messages[x].name %> wants icecream on <%= messages[x].message %>.</h4>
						<h4>Requested Flavor(s):</h4>
						<% for (y in messages[x]._comments) { %>
							<h5><%= messages[x]._comments[y].text %></h5>
						<% } %>
					<form action=<%="/comment/" + messages[x]._id %> method="post">
						<p class="flavor"><%= messages[x].name %>, what ice cream flavor would you like on <%= messages[x].message %>? </p><input type="text" class="comment_text" name="comment" placeholder="Request a flavor"></input>
						<input class="post2" type="submit" value="Submit">
					</form>
				</div>
			<% } %>
		</div>
	<% } %>
</body>
</html>
